
@page :left {
	margin-left: 2cm;
	margin-right: 3cm;
	margin-top: 2cm;
	margin-bottom: 2cm;
}

@page :right {
	margin-left: 3cm;
	margin-right: 2cm;
	margin-top: 2cm;
	margin-bottom: 2cm;
}

@page body {
	counter-reset: page;
}

body {
	color: black;
	font-size: 10pt;
	font-family: Times, serif;
	padding: 18pt 0pt 0pt 0pt;
	margin: 0pt;
	background: white;
	page: body;
}

.header {
	text-align: right;
	font-size: 9pt;
	font-weight: bold;
	page: body;
	region: top;
}

.navtop {
	display: none;
}

.title {
	display: inline;
}

.page:after {
	content: ": " counter(page) " of " counter(pages);
}

a {
	text-decoration: none;
	color: navy;
	outline: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

a[href] {
	link: href;
}

a[name] {
	anchor: name;
}

.footer {
	text-align: right;
	font-size: 9pt;
}

.navbottom {
	display: none;
}

.copyright {
	display: inline;
}

.footnote {
}

.validators {
	display: none;
}

.date {
	font-size: 9pt;
	display: inline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, "Trebuchet MS", Arial, Verdana, sans-serif;
	text-align: left;
}

h1 {
	padding-top: 96pt;
}

code {
	color: maroon;
	font-size: 9pt;
	font-family: Monaco, 'Courier New', Courier, monospace;
}

pre {
	color: maroon;
	font-size: 9pt;
	font-family: Monaco, 'Courier New', Courier, monospace;
	text-align: left;
	background-color: #efefef;
	border-color: #111111;
	border-width: 1pt;
	border-style: double;	
	padding: 8pt;
}
