Package: logtalk
Version: 2.29.6
Maintainer: Paulo Moura <pmoura@logtalk.org>
Section: devel
Priority: optional
Architecture: all
Essential: no
Depends: gprolog (>= 1.2.14)
Description: Open source object-oriented logic programming language.
 Logtalk is an open source object-oriented logic programming language, which
 can be used with a large number of back-end Prolog compilers. Integrating
 logic programming with object-oriented and event-driven programming, it
 supports both prototypes and classes. In addition, it supports
 component-based programming through category-based composition.
