%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Object oriented extension to Prolog
%  Release 2.14.6
%
%  loader file for CIAO Prolog 1.8p0
%
%  last updated: May 17, 2002
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% Windows 95/98/NT:

% :- include('ciao_aux17.config').

% :- include('..\\compiler\\logtalk.pl').



% MacOS X/Linux/Unix:

:- include('ciao_aux17.config').

:- include('../compiler/logtalk.pl').
