%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Open source object-oriented logic programming language
%  Release 2.31.2
%
%  loader file for CIAO Prolog 1.8p2 and later versions
%
%  last updated: October 27, 2005
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% Windows 2000/XP:

% :- include('ciao_aux.config').

% :- include('..\\compiler\\logtalk.pl').


% MacOS X/BSD/Linux/Unix:

:- include('ciao_aux.config').

:- include('../compiler/logtalk.pl').
