%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Object oriented extension to Prolog
%  Release 2.14.8
%
%  loader file for CIAO Prolog 1.8p0
%
%  last updated: January 10, 2003
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% Windows 95/98/NT:

% :- include('ciao_aux18.config').

% :- include('..\\compiler\\logtalk.pl').



% MacOS X/Linux/Unix:

:- include('ciao_aux18.config').

:- include('../compiler/logtalk.pl').
