%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Object oriented extension to Prolog
%  Release 2.17.0
%
%  loader file for CIAO Prolog 1.6p1
%
%  last updated: March 29, 2004
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% Windows 95/98/NT:

% :- include('ciao_aux16.config').

% :- include('..\\compiler\\logtalk.pl').



% MacOS X/Linux/Unix:

:- include('ciao_aux16.config').

:- include('../compiler/logtalk.pl').
