%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Object oriented extension to Prolog
%  Release 2.25.0
%
%  loader file for CIAO Prolog 1.8p2 and later versions
%
%  last updated: April 27, 2005
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% Windows 95/98/NT/2000/XP:

% :- include('ciao_aux.config').

% :- include('..\\compiler\\logtalk.pl').



% MacOS X/Linux/Unix:

:- include('ciao_aux.config').

:- include('../compiler/logtalk.pl').
