%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Object oriented extension to Prolog
%  Release 2.14.3
%
%  loader file for CIAO Prolog 1.6p1
%
%  last updated: December 21, 2001
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% Windows 95/98/NT:

% :- include('ciao_aux16.config').

% :- include('..\\compiler\\logtalk.pl').



% MacOS X/Linux/Unix:

:- include('ciao_aux16.config').

:- include('../compiler/logtalk.pl').
