%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Object oriented extension to Prolog
%  Release 2.9.2
%
%  loader file for CIAO Prolog 1.7p115
%
%  last updated: July 21, 2001
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% Windows 95/98/NT:

:- include('ciao_aux17.config').

:- include('..\\compiler\\logtalk.pl').



% Linux/UNIX:

% :- include('ciao_aux17.config').

% :- include('../compiler/logtalk.pl').
