%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  Logtalk - Object oriented extension to Prolog
%  Release 2.9.3
%
%  configuration file for MasterProLog 4.1
%
%  last updated: December 30, 2001
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


:- option('c+').



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  ISO Prolog Standard predicates that we must define because they are
%  not built-in
%
%  add a clause for lgt_iso_predicate/1 declaring each ISO predicate that
%  we must define; there must be at least one clause for this predicate
%  whose call should fail if we don't define any ISO predicates
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


initialization(Goal) :-
	call(Goal).


% lgt_iso_predicate(?callable).

lgt_iso_predicate(atom_codes(_, _)).
lgt_iso_predicate(current_predicate(_)).
lgt_iso_predicate(number_codes(_, _)).
lgt_iso_predicate(once(_)).
lgt_iso_predicate(open(_,_,_)).
lgt_iso_predicate(read_term(_, _, _)).
lgt_iso_predicate(write_term(_, _, _)).


atom_codes(Atom, Codes) :-
	asciilist(Atom, Codes).


current_predicate(Functor/Arity) :-
	current_predicate(Functor, Term),
	functor(Term, Functor, Arity).


number_codes(Number, Codes) :-
	name(Number, Codes).


once(Goal) :-
	call(Goal),
	!.


open(File, read, Stream) :-
	fopen(Stream, File, r).

open(File, write, Stream) :-
	fopen(Stream, File, w).


read_term(Stream, Term, [singletons([])]) :-
	!,
	read(Stream, Term).

read_term(Stream, Term, _) :-
	read(Stream, Term).


write_term(Stream, Term, [quoted(true)]) :-
	!,
	writeq(Stream, Term).

write_term(Stream, Term, _) :-
	write(Stream, Term).



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  predicate properties
%
%  this predicate must return at least static, dynamic and built_in 
%  properties for an existing predicate
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% lgt_predicate_property(+callable, ?predicate_property)

lgt_predicate_property(Term, Property) :-
	predicate_type(Term, Property2),
	(Property2 = builtin -> Property = built_in; Property = Property2).



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  metapredicates
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% forall(+callable, +callble)

forall(Generate, Test) :-
	\+ call((Generate, \+ call(Test))).


% lgt_call/2-8
%
% use these definitions only if your compiler does
% not provide call/1-8 as built-in predicates

lgt_call(F, A) :-
	call(F, A).


lgt_call(F, A1, A2) :-
	call(F, A1, A2).


lgt_call(F, A1, A2, A3) :-
	call(F, A1, A2, A3).


lgt_call(F, A1, A2, A3, A4) :-
	call(F, A1, A2, A3, A4).


lgt_call(F, A1, A2, A3, A4, A5) :-
	call(F, A1, A2, A3, A4, A5).


lgt_call(F, A1, A2, A3, A4, A5, A6) :-
	call(F, A1, A2, A3, A4, A5, A6).


lgt_call(F, A1, A2, A3, A4, A5, A6, A7) :-
	call(F, A1, A2, A3, A4, A5, A6, A7).


% lgt_once/2-8
%
% if your compiler provides call/1-8 as built-in 
% predicates rewrite these definitions using call(...), !.

lgt_once(F, A) :-
	call(F, A),
	!.


lgt_once(F, A1, A2) :-
	call(F, A1, A2),
	!.


lgt_once(F, A1, A2, A3) :-
	call(F, A1, A2, A3),
	!.


lgt_once(F, A1, A2, A3, A4) :-
	call(F, A1, A2, A3, A4),
	!.


lgt_once(F, A1, A2, A3, A4, A5) :-
	call(F, A1, A2, A3, A4, A5),
	!.


lgt_once(F, A1, A2, A3, A4, A5, A6) :-
	call(F, A1, A2, A3, A4, A5, A6),
	!.


lgt_once(F, A1, A2, A3, A4, A5, A6, A7) :-
	call(F, A1, A2, A3, A4, A5, A6, A7),
	!.



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  file extension predicates
%
%  these extensions are used by Logtalk load/compile predicates
%
%  you may want to change the extension for Prolog files to match 
%  the one expected by your Prolog compiler
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% lgt_file_extension(?atom, ?atom)

lgt_file_extension(logtalk, '.lgt').
lgt_file_extension(prolog, '.pl').
lgt_file_extension(xml, '.xml').



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  default compiler options
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% lgt_default_flag(?atom, ?atom)
%
% default values for all compiler options

lgt_default_flag(iso_initialization_dir, false).

lgt_default_flag(xml, on).
lgt_default_flag(xsl, 'lgtxml.xsl').

lgt_default_flag(unknown, warning).
lgt_default_flag(misspelt, warning).
lgt_default_flag(singletons, warning).
lgt_default_flag(lgtredef, warning).
lgt_default_flag(plredef, silent).
lgt_default_flag(portability, silent).

lgt_default_flag(report, on).



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  list predicates
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


lgt_append([], List, List).
lgt_append([Head| Tail], List, [Head| Tail2]) :-
	lgt_append(Tail, List, Tail2).


lgt_member(Head, [Head| _]).
lgt_member(Head, [_| Tail]) :-
	lgt_member(Head, Tail).


lgt_member_var(V, [H| _]) :-
	V == H.
lgt_member_var(V, [_| T]) :-
	lgt_member_var(V, T).


lgt_proper_list([]).
lgt_proper_list([_| List]) :-
	lgt_proper_list(List).



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  file predicates
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% lgt_file_exists(+atom)
%
% see if a file exist in the current directory

lgt_file_exists(File) :-
	exists(File).


% lgt_load_prolog_code(+atom)
%
% compile and load a Prolog file

lgt_load_prolog_code(File) :-
	reconsult(File).



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  sorting predicates
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% lgt_keysort(+list, -list)

lgt_keysort(List, Sorted) :-
	keysort(List, Sorted).


% lgt_sort(+list, -list)

lgt_sort(List, Sorted) :-
	sort(List, Sorted).



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  time and date predicates
%
%  if your Prolog compiler does not provide access to the operating system 
%  time and date just write dummy definitions
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% lgt_current_date(?Year, ?Month, ?Day)

lgt_current_date(Year, Month, Day) :-
	time_info([year,month,day],[Year,Month,Day]).


% lgt_current_time(?Hours, ?Mins, ?Secs)

lgt_current_time(Hours, Mins, Secs) :-
	time_info([hour,min,sec],[Hours,Mins,Secs]).



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  timing predicate
%
%  if your Prolog compiler does not provide access to a timing predicate 
%  just write dummy definition
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% lgt_cpu_time(-Seconds)

lgt_cpu_time(Seconds) :-
	cputime(Seconds).


master_init :-
	please(q, on), please(c, on), please(s, on), please(rf, off),
	compiler(c, on), compiler(w, off),
	op(600, xfy, '::'), op(600, fy, '::'), op(600, fx, '^^'),
	op(200, fy, '+'), op(200, fy, '?'), op(200, fy, '@'), op(200, fy, '-'),
	error_message(115 /* Possible erroneous use of nil */ , off).
        
?- master_init.   



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  comparison predicate
%
%  the usual compare/3 definition
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


% compare(?atom, @term, @term) -- built-in



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%  end!
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
